.loginScreen {
  position: relative;
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/9f46b569-aff7-4975-9b8e-3212e4637f16/453ba2a1-6138-4e3c-9a06-b66f9a2832e4/US-en-20240415-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center no-repeat;
  background-size: cover;
}

.loginScreen__background {
  height: 100vh;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
  padding-top: 20px;
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen__input {
  margin: 20px;
}

.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.signupScreen {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}

.signupScreen > form {
  display: grid;
  flex-direction: column;
}

.signupScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}

.signupScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.signupScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.signupScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}

.signupScreen__gray {
  color: gray;
}

.signupScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
