.row {
  color: white;
  margin-left: 20px;
}

.row > h2 {
  margin-bottom: 10px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posterContainer {
  margin-right: 10px;
  flex-shrink: 0;
}

.row__poster {
  height: 150px;
  width: 100px;
  border-radius: 4px;
  transition: transform 450ms;
  cursor: pointer;
  border: 2px solid #333;
  object-fit: cover;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row__posterLarge {
  height: 250px;
  width: 167px;
  object-fit: cover;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.row__loading {
  color: #e5e5e5;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
